/* Farve-Variabler */
:root {
    --dusty-rose: #D8A9A6;
    --sage-green: #A6B89F;
    --lavender: #CBBAD1;
    --taupe: #B6A89A;
    --eggshell: #F2ECE6;
    --beige-sand: #E4D6C4;
    --charcoal-black: #2E2E2E;
    --Rose-icon-color: #B97570;
    --Off-white: #F2EEEA;
    --Dusty-rose-darker: #CF928E;
    --Lighter-charcoal: #696866;
    --beige-cream: #FFF3E3;

    /* Typografi */
    --Body-font: dm-sans, sans-serif;
    --Hero-font: playfair-display, serif;
}



body{
    margin: 0;
    padding: 0;
    font-family: var(--Body-font);
    color: var(--charcoal-black);
}

.hero{
    background-color: var(--eggshell);
    background-image: url(hero-section.img/ny-hero-dusty-rose.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}



.navbar{
    display:flex;
    align-items:center;
    gap: 100px;
    padding:10px 90px;
    background:var(--eggshell);
    box-shadow: 0 4px 8px rgba(58, 56, 56, 0.1);
    border-radius: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;


}

.logo img{
    display:flex;
    align-items:center;
    text-decoration:none;
    width: 85px;
    height: auto;
    cursor: pointer;
}
.menu{
    display:flex;
    gap:70px;
    font-size: 15px;
    letter-spacing: 2%;
    list-style:none;
    margin:0;
    padding:0;
}


.menu a{
    text-decoration:none;
    font-weight: 100;
    color: #2E2E2E;
    opacity: 75%;
}

button{
    background-color: var(--eggshell);
    border: 1px solid var(--charcoal-black);
    opacity: 60%;
    border-radius: 20px;
    padding: 10px 2px;
    font-size: 17px;
    letter-spacing: 2%;
    width: 200px;
    font-weight: 100;
    font-family: var(--Body-font);
    cursor: pointer;
}


.hero h1 {
    margin: 0;
    padding-top: 190px;
    font-family: var(--Body-font);
    font-size: 60px;
    font-weight: 100;
    color: var(--charcoal-black); opacity: 75%;
    padding-left: 100px;
    letter-spacing: 2%;
}

#sound {
font-family: var(--Hero-font);
font-style: italic;
font-weight: 100;;
color: var(--Dusty-rose-darker);
letter-spacing: 2%;
font-size: 70px;
}

.hero p{
    font-family: var(--Body-font);
    font-size: 20px;
    color: var(--charcoal-black); opacity: 75%;
    padding-left: 100px;
    letter-spacing: 5%;
    line-height: 34px;
    font-weight: 100;
}
#on-the-go{
    font-style: italic;
    font-family: var(--Hero-font);
}

#high-quality{
font-weight:550;
}

#rich-sound{
font-weight:550;
}

#world-of-features{
font-weight:550;
}

#hero-cta{
display: flex;
background-color: var(--beige-cream);
opacity: 90%;
align-items: center;
gap: 20px;
width: fit-content;
height: fit-content;
padding: 20px 12px;
padding-left: 20px;
border: none;
color: var(--Lighter-charcoal);
font-weight: 550;
margin-left: 135px;
margin-top: 80px;
border-radius: 25px;
cursor: pointer;
}

#arrow-hero{
    width: 25px;
    height: auto;
}

#explore{
display: flex;
background-color: transparent;
align-items: center;
position: absolute;
left: 50%;
 transform:translateX(-50%);
 bottom: 0px;
flex-direction: column;
border: none;
color: var(--beige-cream);
opacity: 100%;
gap: 8px;
cursor: pointer;
}



.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    padding-top: 80px;
    background-color: var(--Off-white);
    gap: 20px;


}
#headline{ 
    font-size: 50px;
    font-family: var(--Hero-font);
    font-weight: 100;
    letter-spacing: 8%;
    color: var(--charcoal-black);
    margin-bottom: 0;
}

#every{
    font-style: italic;
    color: var(--Dusty-rose-darker);
;

}

section hr{
    width: 50px;
    border: 1px solid var(--Dusty-rose-darker);
    border-radius: 2px;
    margin-bottom: 20px;   
    margin-top: -5px;
}


/* Styres i js, kontrollerer designet af "overskriften */
.feature-title-js{
    display:block;
    text-align: center;
    margin-bottom:20px;
    
    font-size:35px;
    font-weight:200;
    letter-spacing:2px;
    
    color:var(--Rose-icon-color);
}


.feature-list{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    font-family: var(--Body-font);
    padding:70px 50px;
    background-color:var(--Off-white);
    margin-bottom: 20px;
    margin-top: -20px
}




/* styrer denne lille beskrivelse under */
#underline{
    margin-top: 0;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 8%;
    color: var(--charcoal-black);
    min-height: 100px;
    text-align: center;
}


.feature-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

    width:160px;
    min-height:240px;

    margin-left:30px;
    cursor:pointer;
    
    opacity:0;
    transform:translateY(100px)
    scale(0.7);

   
}

.feature-item.show{
    opacity:1;
    transform:translateY(0)
    scale(1);
    transition:
    opacity 0.9s ease,
    transform 0.7s ease-in-out
}

/* nth-child er så css ved hvad der kommer først */
.feature-item:nth-child(1){
    transition-delay:0s;
}

.feature-item:nth-child(2){
    transition-delay:0.10s;
}

.feature-item:nth-child(3){
    transition-delay:0.25s;
}

.feature-item:nth-child(4){
    transition-delay:0.35s;
}

.feature-item:nth-child(5){
    transition-delay:0.50s;
}

.feature-item:nth-child(6){
    transition-delay:0.65s;
}


.feature-item.show:hover{
    transform:
    translateY(-12px)
    scale(1);
}

.feature-item:hover img{

    background-color:rgba(207,146,142,0.12);

    border-radius:50%;

    transform:scale(1);

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

}

.feature-item img{
    width:110px;
    height:110px;
    padding:35px;
    border-radius:50%;


     transition:
    transform 0.35s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.active-feature img{
    background-color:rgba(0,0,0,0.045);
}

.active-feature::after{
    content:"";

    width:18px;
    height:18px;

    border-radius:50%;
    background-color:var(--Dusty-rose-darker);

    margin-top:25px;
}



.color-section{
    display:flex;
    align-items:flex-start;
    background-color:var(--eggshell);
    padding:80px;
    min-height:850px;
}

.color-text{
    position: absolute;
    width:280px;
    margin-top: 90px;
    margin-left: 50px;

}

.color-text h3,
.color-text p{
    margin:0;
}

.color-text h3{
    font-family:var(--Body-font);
    font-size:16px;
    font-weight:900;
    letter-spacing:4%;
    color:var(--Rose-icon-color);
    margin-bottom:25px;
}

.color-text p{
    font-family:var(--Hero-font);
    font-size:50px;
    color:var(--charcoal-black);
    font-weight:100;
    margin-bottom:30px;
}

#color{
    color:var(--Rose-icon-color);
    font-style:italic;
}

#second-line{
    font-size:18px;
    font-weight:550;
    letter-spacing:6%;
    line-height:35px;
    color:var(--charcoal-black);
    font-family:var(--Body-font);
}

#beautiful{
    color:var(--Rose-icon-color);
    font-style:italic;
    font-family:var(--Hero-font);
    font-size:20px;
}

.speaker-area{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.color-profile{
    width:800px;
    height:auto;
    margin-top: 90px;
    margin-bottom: -10px;
    transform:translateX(35px);

}

.color-picker{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:-90px;
}

.circles{
    display:flex;
    gap:25px;
    margin-bottom:45px;
    position: relative;
}

.circle{
    width:50px;
    height:50px;
    border-radius:50%;
    border:none;
    cursor:pointer;
       transition:0.4s;
}


.active{
    border:3px solid white;
    box-shadow:0 0 0 1px #ddd;

    transform: scale(1.12);
}

.circle{
    background:var(--dusty-rose);
}

.sage{
    background:var(--sage-green);
}

.lavender{
    background:var(--lavender);
}

.taupe{
    background:var(--taupe);
}


.color-picker hr{
    width:80px;
    border:none;
    height:2px;
    background:var(--Dusty-rose-darker);
    margin:0 0 20px;
}

.color-picker #color-description-headline{
    margin:0;
    color:var(--Dusty-rose-darker);
    font-size:18px;
    font-weight: 550;
    letter-spacing:2px;
}

.color-picker #color-description{
    margin-top:20px;
    text-align:center;
    line-height:1.5;
    font-size:16px;
    font-family:var(--Body-font);
    font-weight: 200;
    letter-spacing: 2%;
    color:var(--charcoal-black);
}

.purchase-button{
    display: flex;
    border-radius: 30px;
    padding: 10px 20px;
    align-items: center;
    gap: 20px;
    width: fit-content;
    color: var(--Dusty-rose-darker);
    font-weight: 550;
    background-color: transparent;
    border: 2px solid var(--Dusty-rose-darker);
    cursor: pointer;
    opacity: 100%;
    margin-top: 20px;

}
#shopping-icon{
    width: 25px;
    height: auto;
    margin-right: 10px;
}